*{
    font-family: 'Roboto';
}

:root{
    --header-color: #cbd5e1;
    --background-color: #f1f5f9; 
    --font-color: #334155;
    --hover-color: #cbd5e1;
}

body{
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
}


.wrapper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}
.header h1{
    font-size: 36px; 
    color: var(--font-color)
}

.gameboard{
    margin-top: 50px; 
    display: grid; 
    width: clamp(250px, 35vw, 800px);
    height: clamp(250px, 35vw, 800px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile:hover{
    background-color: var(--hover-color);
}
.tile:active{
    background-color: var(--hover-color);
}

.tile{
    background: none; 
}

.gameboard img{
    pointer-events: none;
}