:root{
    --header-color: #0284c7;
    --background-color: #f0f9ff; 
}

body{
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.wrapper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: grid; 
    width: clamp(250px, 35vw, 800px);
    height: clamp(250px, 35vw, 800px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile:hover{
    background-color: red;
}

.tile{
    background: none; 
}

.gameboard img{
    pointer-events: none;
}